@charset "UTF-8";
/* CSS Document */

/*turn of text highlight*/
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
	font-family: 'Oswald', sans-serif;
}

/* background animation */
#gradient {
    height:100%;
    width:100%;
    margin:0;
    overflow:hidden;
    background-size:contain; 
}

#background {
	overflow: hidden;
	position: relative;
	text-align: center;
}

#background img {
    min-width:100%;
	-webkit-animation-duration: 10s;
    -webkit-animation-name: slidein;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}


@-webkit-keyframes "slidein" {
 25% {
   -webkit-transform: scale(1) translate3d(-50%, 0%, 0px);
   transform: scale(1) translate3d(0px, -50%, 0%);
 }
 50% {
   -webkit-transform: scale(1) translate3d(-50%, -50%, 0px);
   transform: scale(1) translate3d(0px, -50%, -50%);
 }
 75% {
   -webkit-transform: scale(1) translate3d(0%, -50%, 0px);
   transform: scale(1) translate3d(0%, 0px, -50%);
 }
}